/* styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

.canvas {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.custom-node {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
}

.buttons-container {
  margin-top: 10px;
}

.add-node-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Add this CSS to your component's stylesheet or an appropriate global file */
.text-node {
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  padding: 8px;
  min-height: 55px;
  padding: 8px 16px;
  gap: 16px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.node-content h4 {
  font-size: 14px;
  font-weight: 500;
}
.node-content {
  color: #333333;
}
.text-node {
  animation: 0.3s ease-in-out 0s 1 normal none running bounceIn;
}
.text-node:hover {
    --box-shadow-color: #c8c8fa;
    box-shadow: 0 0 0 4px var(--box-shadow-color);
}

.icon_dropdown {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50%;
  background-color: #E0E0E0; /* Light grey background for the icon area */
}
